@model WebCasino.Web.Areas.Administration.Models.TransactionDetailsViewModel
<div class="wrapper">
	<div class="page-header">
		
		<div class="container align-items-center">
			<div class="row">
				<div class="col-md-12">
					<div class="card card-coin card-plain">				
                        <div class="card-body">
                            <h3 class="text-center">Transaction Details</h3>
                            <div class="row justify-content-center">
                      
                                <a class="btn btn-primary btn-simple btn-round"  asp-action="Details" asp-controller="UserAdministration" asp-area="Administration" asp-route-id="@Model.User.Id">
                                    See all @Model.User.Alias Transactions
                                </a>
                            </div>
                               
                           
                            <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#linka">
                                        Info
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#linkc">
                                        Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#linkb">
                                        Actions
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active" id="linka">
                                    <div class="">
                                        <table class="table tablesorter " id="plain-table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th class="header">
                                                        Currency $
                                                    </th>
                                                    <th class="header">
                                                        AMOUNT @Model.UserCurrency
                                                    </th>
                                                    <th class="header">
                                                        Transaction Type
                                                    </th>
                                                    <th class="header">
                                                        Date
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>                                              
                                                   <tr>
                                                        <td>
                                                           @String.Format("{0:.##}", Model.NormalisedAmount)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:.##}", Model.OriginalAmount)
                                                        </td>
                                                        <td>
                                                            @Model.TransactionType
                                                        </td>
                                                        <td>
                                                            @Model.CreatedOn
                                                        </td>
                                                    </tr>                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="linkc">
                                    <div class="">
                                        <table class="table tablesorter table-hover " id="plain-table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th class="header">
                                                        Transaction Full Ditails
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Amount in USD: @String.Format("{0:.##}", Model.NormalisedAmount)
                                                        </p>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Amount in User Currency: @String.Format("{0:.##}", Model.OriginalAmount) @Model.UserCurrency
                                                        </p>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Transaction Type: @Model.TransactionType
                                                        </p>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Created On:  @Model.CreatedOn
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Transaction Description: @Model.Description
                                                        </p>

                                                    </td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="linkb">      
                                    <form class="justify-content-center" action="/" method="post">
                                        <div class="">
                                            <h3 >Delete Transaction from History</h3>
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="">
                                                    <span class="form-check-sign"></span>
                                                    No
                                                </label>
                                            </div>
                                            <div class="form-check form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option2">
                                                    <span class="form-check-sign"></span>
                                                    Yes
                                                </label>
                                            </div>
                                        </div>
                                        <hr/>
                                         <button type="submit" class="btn btn-simple btn-primary btn-icon btn-round float-center"><i class="tim-icons icon-send"></i></button>
                                    </form>
                                                                      
                                    </div>
                                   
                                </div>

                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>