@model WebCasino.Web.Areas.Administration.Models.TransactionHistoryViewModel

<div class="table">
    <table id="table" class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Created On</th>
                <th scope="col">Type</th>
                <th scope="col">Amount $</th>
                <th scope="col">Description</th>
                <th scope="col">Email</th>
                <th scope="col">Alias</th>
                <th scope="col">Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.Transactions)
            {
                <tr>
                    <td>@transaction.CreatedOn</td>

                    <td>@transaction.TransactionType</td>
                    <td>@String.Format("{0:.##}", transaction.NormalisedAmount)</td>
                    <td>@transaction.Description</td>
                    <td>@transaction.User</td>
                    <td>@transaction.UserAlias</td>
                    <td>
                        <a class="btn btn-info btn-link btn-icon btn-sm btn-tooltip " asp-action="UserAccountSettings" asp-controller="UserAdministration" asp-area="Administration" asp-route-id="@transaction.UserId" data-toggle="tooltip" data-placement="bottom" title="" data-container="body" data-animation="true" data-original-title="Go to User Settings">
                            <i class="tim-icons icon-single-02"></i>
                        </a>
                        <a class="btn btn-success btn-link btn-icon btn-sm" asp-action="Details" asp-controller="Transactions" asp-area="Administration" asp-route-id="@transaction.Id" data-toggle="tooltip" data-placement="top" title="" data-container="body" data-animation="true" data-original-title="Go to Transaction Details">
                            <i class="tim-icons icon-settings"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>