@model WebCasino.Web.Areas.Administration.Models.UserViewModel

@{
    var previousDisabled = Model.Page == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.Page == Model.TotalPages ? "disabled" : string.Empty;
}

<div class="wrapper">
    <div class="page-header">
        <div class="container align-items-center">
            <div class="row">

                <div class="col-md-12">
                    <div class="card card-coin card-plain">

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h3>User Transactions History</h3>
                            </div>

                            <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#linka">
                                        Transactions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#linkb">
                                        Details
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#linkc">
                                        Actions
                                    </a>
                                </li>
                            </ul>
                            <form class="form" asp-area="Administration" asp-action="Details" asp-controller="UserAdministration" method="GET">
                                <div class="row">

                                    <div class="col-sm-6 col-lg-3">

                                        <div class="form-group">

                                            <input asp-for="@Model.SearchText" type="text" class="form-control " placeholder="Search transaction user" id="txtSearch" />

                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-lg-2">
                                        <div class="form-group">
                                            <input type="submit" class=" form-control btn btn-primary" value="Search" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="tab-content tab-subcategories">
                                <div class="tab-pane active" id="linka">
                                    <div class="">
                                        <table class="table tablesorter " id="plain-table">
                                            <thead class=" text-primary">

                                                <tr>
                                                    <th class="header">Created On</th>
                                                    <th class="header">Type</th>
                                                    <th class="header">Amount $</th>
                                                    <th class="header">User Currency</th>
                                                    <th class="header">Description</th>
                                                    <th class="header">Email</th>
                                                    <th class="header">Alias</th>
                                                    <th class="header">Action</th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @foreach (var transaction in Model.Transactions)
                                                {

                                                <tr>
                                                    <td>@transaction.CreatedOn</td>
                                                    <td>@transaction.TransactionType.Name</td>
                                                    <td>@String.Format("{0:.##}", transaction.NormalisedAmount)</td>
                                                    <td>XXX</td>
                                                    <td>@transaction.Description</td>
                                                    <td>@transaction.User.Email</td>
                                                    <td>@transaction.User.Alias</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                                            <i class="tim-icons icon-single-02"></i>
                                                        </button>
                                                        <a class="btn btn-success btn-link btn-icon btn-sm"  asp-action="Details" asp-controller="Transactions" asp-area="Administration" asp-route-id="@transaction.Id">
                                                            <i class="tim-icons icon-settings"></i>
                                                        </a>
                                                        <button type="button" rel="tooltip" class="btn btn-danger btn-link btn-icon btn-sm">
                                                            <i class="tim-icons icon-simple-remove"></i>
                                                        </button>
                                                    </td>
                                                    
                                                </tr>
                                                }
                                            </tbody>

                                        </table>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a class="page-link @previousDisabled" asp-area="Administration" asp-controller="UserAdministration" asp-action="Details" asp-route-page="@Model.PreviousPage" asp-route-searchtext="@Model.SearchText" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>
                                                @for (int i = 1; i <= Model.TotalPages; i++)
                                                {
                                                    <li class="page-item"><a class="page-link" asp-area="Administration" asp-controller="UserAdministration" asp-action="Details" asp-route-searchtext="@Model.SearchText" asp-route-page="@i">@i</a></li>
                                                }
                                                <li class="page-item">
                                                    <a class="page-link @nextDisabled" asp-area="Administration" asp-controller="UserAdministration" asp-action="Details" asp-route-page="@Model.NextPage" asp-route-searchtext="@Model.SearchText" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="tab-pane" id="linkb">
                                    <div class="">
                                        <table class="table tablesorter table-hover " id="plain-table">
                                            <thead class=" text-primary">
                                                <tr>
                                                    <th class="header">
                                                        Transaction Full Ditails
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            User Alias: @String.Format("{0:.##}", Model.User.Alias)
                                                        </p>

                                                    </td>
                                                  
                                                    <td> <a asp-action="UserAccountSettings" asp-controller="UserAdministration" asp-area="Administration" asp-route-id="@Model.Id">Change</a> </td>
                                                   
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Amount in User Currency:
                                                        </p>
                                                    </td>
                                                    <td>
                                                        <!-- DROPDOWN EDIT-->
                                                        <div class="dropdown show-dropdown">
                                                            <a href="#" data-toggle="dropdown" aria-expanded="false">
                                                                <p >View Courses</p>
                                                            </a>
                                                            <ul class="dropdown-menu" x-placement="top-start" style="position: absolute; transform: translate3d(-231px, -125px, 0px); top: 0px; left: 0px; will-change: transform;">
                                                                <li class="header-title"> Sidebar Background</li>
                                                                <li class="adjustments-line">
                                                                    <a href="javascript:void(0)" class="switch-trigger background-color">
                                                                        <div class="badge-colors text-center">
                                                                            <span class="badge filter badge-primary active" data-color="primary"></span>
                                                                            <span class="badge filter badge-info" data-color="blue"></span>
                                                                            <span class="badge filter badge-success" data-color="green"></span>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </a>
                                                                </li>
                                                                <li class="adjustments-line text-center color-change">
                                                                    <span class="color-label">LIGHT MODE</span>
                                                                    <span class="badge light-badge mr-2"></span>
                                                                    <span class="badge dark-badge ml-2"></span>
                                                                    <span class="color-label">DARK MODE</span>
                                                                </li>
                                                                <li class="button-container">
                                                                    <a href="https://www.creative-tim.com/product/black-dashboard" target="_blank" class="btn btn-primary btn-block btn-round">Download Now</a>
                                                                    <a href="https://demos.creative-tim.com/black-dashboard/docs/1.0/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block btn-round">
                                                                        Save
                                                                    </a>
                                                                </li>
                                                                <li class="header-title">Thank you for 95 shares!</li>
                                                                <li class="button-container text-center">
                                                                    <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> · 45</button>
                                                                    <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> · 50</button>
                                                                    <br>
                                                                    <br>
                                                                    <a class="github-button" href="https://github.com/creativetimofficial/black-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>
                                                            Transaction Type:
                                                        </p>
                                                    </td>
                                                    <td> <a asp-action="" asp-controller="" asp-area="" asp-route-id="">View Statistics</a> </td>
                                                  
                                                </tr>
                          

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="linkc">
                                    <form action="/" method="post">
                                        <div class="card card-tasks">
                                            <div class="card-body ">
                                                <div class="table tablesorter table-hover ">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input class="form-check-input" type="checkbox" value="">
                                                                            <span class="form-check-sign">
                                                                                <span class="check"></span>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <p class="title">Remove All user transactions</p>
                                                                    <p class="text-muted">Remove all user transactions from history</p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input class="form-check-input" type="checkbox" value="">
                                                                            <span class="form-check-sign">
                                                                                <span class="check"></span>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <p class="title">Remove user transactions</p>
                                                                    <p class="text-muted">Remove from start date to end date</p>
                                                                    <div class="col-md-4">
                                                                        <div class="datepicker-container">
                                                                            <div class="form-group">
                                                                                <input type="text" id="datepicker" class="form-control datepicker" value="10/05/2016" data-datepicker-color="primary">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2 col-lg-2">
                                            <div class="form-group">
                                                <input type="submit" class=" form-control btn btn-primary" value="Save" />
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
