@model WebCasino.Web.Areas.Administration.Models.UserSettingsViewModel
@{
    var lockedUser = TempData["Locked"];
    var unLocked = TempData["UnLocked"];
    var promoted = TempData["Promoted"];

}
@if (lockedUser != null)
{
    <div class="alert alert-danger alert-with-icon">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
            <i class="tim-icons icon-simple-remove"></i>
        </button>
        <span data-notify="icon" class="tim-icons icon-support-17"></span>
        <span>
            <b> Deleted! </b> @TempData["Locked"]
        </span>
    </div>
}

<div class="wrapper">
    <div class="page-header">
        <div class="container align-items-center">
            <div class="row">

                <div class="col-md-12">
                    <div class="card card-coin card-plain">

                        <div class="card-body">
                            <div class="row justify-content-center">
                                <h3>User Settings</h3>
                            </div>

                            <ul class="nav nav-tabs nav-tabs-primary justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#linka">
                                        Profile
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#linkb">
                                        Settings
                                    </a>
                                </li>
                            </ul>

                            <div class="tab-content tab-subcategories ">
                                <div class="tab-pane active" id="linka">
                                    <div class="card text-center">
                                        <div class="card-body text-center">

                                            <div class="col-md-12 justify-content-center">
                                                <div class="card">
                                       
                                                    <div class="card-body">
                                                        <form>
                                                            <div class="row">

                                                                <div class="col-md-6 px-md-1">
                                                                    <div class="form-group">
                                                                        <label>Alias</label>
                                                                        <input type="text" class="form-control" placeholder="Username" value="@Model.Alias">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 pl-md-1">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Email address</label>
                                                                        <input type="email" class="form-control" placeholder="@Model.Email">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 pr-md-1">
                                                                    <div class="form-group">
                                                                        <label>First Name</label>
                                                                        <input type="text" class="form-control" placeholder="Company" value="Mike">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 pl-md-1">
                                                                    <div class="form-group">
                                                                        <label>Last Name</label>
                                                                        <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label>Address</label>
                                                                        <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 pr-md-1">
                                                                    <div class="form-group">
                                                                        <label>City</label>
                                                                        <input type="text" class="form-control" placeholder="City" value="Mike">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 px-md-1">
                                                                    <div class="form-group">
                                                                        <label>Country</label>
                                                                        <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 pl-md-1">
                                                                    <div class="form-group">
                                                                        <label>Postal Code</label>
                                                                        <input type="number" class="form-control" placeholder="ZIP Code">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 pr-md-1">
                                                                    <div class="form-group">
                                                                        <label>Date Of Birth</label>
                                                                        <input type="text" class="form-control" placeholder="dateOfBirth" value="@Model.DateOfBirth.ToShortDateString()">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 px-md-1">
                                                                    <div class="form-group">
                                                                        <label>Created On</label>
                                                                        <input type="text" class="form-control" placeholder="CreatedOn" value="@Model.CreatedOn">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 pl-md-1">
                                                                    <div class="form-group">
                                                                        <label>Modified On</label>
                                                                        <input type="text" class="form-control" placeholder="ModifiedOn" value="@Model.ModifiedOn">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4 pr-md-1">
                                                                    <div class="form-group">
                                                                        <label>Locked</label>
                                                                        <input type="text" class="form-control" placeholder="Locked" value="@Model.Locked.ToString()">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 px-md-1">
                                                                    <div class="form-group">
                                                                        <label>Is Deleted</label>
                                                                        <input type="text" class="form-control" placeholder="IsDeleted" value="@Model.IsDeleted.ToString()">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 pl-md-1">
                                                                    <div class="form-group">
                                                                        <label>Deleted On</label>
                                                                        <input type="text" class="form-control" placeholder="DeletedOn" value="@Model.DeletedOn.ToString()">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="card-footer">
                                                                <button type="submit" class="btn btn-fill btn-primary">Save</button>
                                                            </div>
                                                        </form>
                                                       

                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                                <div class="tab-pane" id="linkb">
                                    <div class="card card-tasks">

                                        <div class="card-body ">
                                            <div class="table tablesorter table-hover ">

                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="col-md-3">
                                                                <div class="">
                                                                    <div class="form-group">
                                                                        @{
                                                                            if (Model.Locked)
                                                                            {
                                                                                <form asp-action="UnLockUser" asp-controller="UserAdministration" asp-area="Administration" asp-route-id="@Model.Id" method="post">
                                                                                    <input type="hidden" />
                                                                                    <button class=" form-control btn btn-default">UnLock</button>
                                                                                </form>

                                                                            }
                                                                            else
                                                                            {
                                                                                <form asp-action="LockUser" asp-controller="UserAdministration" asp-area="Administration" asp-route-id="@Model.Id" method="post">
                                                                                    <input type="hidden" />
                                                                                    <button class=" form-control btn btn-danger">Lock</button>
                                                                                </form>
                                                                            }
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </td>
                                                            @{
                                                                if (Model.Locked)
                                                                {
                                                                    <td>
                                                                        <p class="title">UnLock User</p>
                                                                        <p class="text-muted">With this action you are going to unlock user.</p>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <p class="title">Lock User</p>
                                                                        <p class="text-muted">With this action you are going to lock user.</p>
                                                                    </td>
                                                                }
                                                            }

                                                        </tr>
                                                        <tr>
                                                            <!-- Change Display if User is locked, to unlock-->
                                                            <td class="col-md-3">
                                                                <div class="">
                                                                    <div class="form-group">
                                                                        <form asp-action="PromoteUser" asp-controller="UserAdministration" asp-area="Administration" asp-route-id="@Model.Id" method="post">
                                                                            <input type="hidden" />
                                                                            <button class=" form-control btn btn-danger">Promote</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <p class="title">Promoto User</p>
                                                                <p class="text-muted">With this action you are going to promote user to Admin Role.</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div>

                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


